#myTable input {
	margin-left: 5px;
}

#myTable {
	border:2px solid green;
	border-collapse: collapse;
	margin: 30px 30px 20px 40px;
	table-layout:auto;
	width:50%;
}
#myTable td, th {
	border:1px solid green;
	padding: 1ppx;
}
#myTable th {
	color: #fff;
	background-color: #a7c942;
}
#button {
	color:#fff;
	background-color: orange;
	border-radius: 3px;
	border:2px solid;
	margin-left: 180px;
}

#button:disabled {
    background: #A9A9A9;
    color : #C3C3C3;
}


#para1
{
	display:none;
}

#para2
{
	display:none;
}

#para3
{
	display:none;
}